.calendars,
.calendars_new {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.calendar-card {
  border-radius: 4px;
  background-color: #edebeb;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
}

.calendar-card:hover {
  box-shadow: 0 0 10px 0 rgb(222, 221, 221);
  transition: all 0.3s ease;
}

.calendar-card h2 {
  text-transform: capitalize;
  line-height: 1;
  margin: 5px 0;
  margin-bottom: 50px;
}

.calendar-card p {
  font-size: 18px;
}
.calendar-card span {
  margin-bottom: 40px;
}

.calender-view {
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: #0e627a;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.calender-view:hover {
  background-color: #113a45;
  transition: all 0.3s ease;
  border: none;
}

.calendar_button_one {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0e627a;
  color: white;
  height: 100%;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.calendar_button_one:hover {
  background-color: #113a45;
  transition: all 0.3s ease;
  border: none;
}

.calendar_button_two {
  background-color: tomato;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.calendar_button_two:hover {
  background-color: red;
  transition: all 0.3s ease;
  border: none;
}

.calendar_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
