@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");

.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.calendar .parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 90%;
}

.font {
  font-family: "Crafty Girls", cursive;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  align-items: center;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  /* overflow: hidden;  */
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/105988/banner-background.jpg");
  background-size: cover;
  background-position: center;
}

.main,
.register,
.favourites,
.calendars {
  min-height: 83vh;
  text-align: center;
}

.favourites {
  align-items: top !important;
  margin: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/105988/banner-background.jpg");
  background-size: cover;
  background-position: center;
}

.login .error {
  color: #ff6464;
}

.parts img {
  width: 400px;
  margin: 10px
}

@media screen and (max-width: 700px) {
  .calendar {
    flex-direction: column-reverse
  }

img {
  width: 200px;
}
}

.about {
  margin: 25px;
}

.team {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #ebe7e7ba;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  
}

.people {
  align-items: center;
  margin: 20px;
}

.linkedin, .github {
  color: black;
  min-width: 40px;
  min-height: 40px;
}

.linkedin {
  margin-right: 10px;
}

.linkedin:hover {
  color: #0077b5;
}

.github:hover {
  color: pink;
}

.technologies, .last-words {
  color: #333;
}

.pics img {
  width: 60px;
  max-height: 60px;
}

.pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}