.panel {
  position: relative;
  display: flex;
  min-height: 100vh;
}

.panel .preview {
  margin: 20px;
  border-radius: 2px;
  padding: 50px;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
}