.user-info {
  background-color: rgba(217, 217, 217, 0.7);
  color: #333;
  margin: 20px;
  border-radius: 5px;
}

.user-info .flex {
  display: flex;
  justify-content: space-between;
}

.user-info .info-box {
  margin: 5px;
  padding: 0 10px 10px;
  border: 1px solid #10617a;
  border-radius: 2px;
}

.user-info .info-box .button {
  margin: 10px 0;
}

.user-info .files-boxes {
  margin: 5px;
  border: 1px solid #10617a;
  border-radius: 2px;
}

.user-info .files-box {
  padding: 0 10px 10px;
  border-radius: 2px;
}

.user-info .danger-zone {
  margin: 5px;
  padding: 0 10px 10px;
  border: 1px solid #d00000;
  border-radius: 2px;
  color: #d00000;
}

.user-info .left-col {
  padding-right: 100px;
}

.user-info .right-col {
  width: 150px;
}

.user-info .right-col .no-username {
  font-style: italic;
  font-size: 14px;
}

.user-info .flex {
  display: flex;
}

.user-info .delete {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d00000;
  cursor: pointer;
  margin-top: 10px;
  width: 18px;
  height: 18px;
}
