.calendarbg {
    background-image: url(${selectedBackground});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    background-attachment: fixed;
  }