.calendarbg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    
  }
  
  .dashboard-images {
    overflow-y: auto; 
    flex: 1; 
    
  }
  
  .dashboard-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    
  }
  
  .dashboard-background {
    background-size: cover;
    height: 200px;
    width: 200px;
    
  }
