.panel .preview {
  margin: 20px;
  border-radius: 2px;
  padding: 50px;
  width: 100%;
  background-color: lightgrey;
}

.preview .container {
  margin: 0 auto;
  width: 90%;
}

.preview .windows {
  display: flex;
  flex-wrap: wrap;
}

.preview .title {
  margin-bottom: 20px;
}
