#preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 0;
}

.panel .preview {
  margin: 20px 20px 10px 20px;
  border-radius: 2px;
  width: 100%;
  background-color: transparent;
  position: relative;
  min-width: 500px;
}

.preview .windows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.preview .title {
  margin-bottom: 20px;
}

.preview .btn {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 4px;
  border: none;
  background-color: #f8f9fa;
  color: #495057;
  transition: all 0.15s;
}

.preview .modal-create,
.preview .modal-preview {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.preview-final {
  text-align: center;
}
.preview-buttons button {
  margin-top: 10px;
  background-color: #0e627a;
  border: none;
  outline: none;
  float: right;
}
.preview-buttons button:hover {
  background-color: #0b5063;
}
