.panel .preview {
  margin: 20px;
  border-radius: 2px;
  padding: 50px;
  width: 100%;
  background-color: lightgrey;
  position: relative;
}

.preview .container {
  margin: 0 auto;
  width: 90%;
}

.preview .windows {
  display: flex;
  flex-wrap: wrap;
}

.preview .title {
  margin-bottom: 20px;
}

.preview .btn {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 4px;
  border: none;
  background-color: #f8f9fa;
  color: #495057;
  transition: all 0.15s;
  position: absolute;
  top: 5px;
  right: 5px;
}
