.search {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 20px;
}

.search input {
  padding: 5px 10px;
  font-size: 1.125rem;
  width: 100%;
  text-align: center;
  font-family: inherit;
}

.search input:hover {
  cursor: pointer;
}
