.time input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.time .buttons button {
  margin-top: 10px;
  background-color: #0e627a;
  border: none;
  outline: none;
  float: right;
  width: 80px;
}
