.modal {
  position: relative;
  top: 10%;
  left: 30%;
  margin: 0;
  max-width: 600px;
  border-radius: 5px;
  background-color: white;
}

.modal.open {
  display: flex;
  
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 600px !important;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
  overflow-y: auto;
}

.modal .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #333;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.15s;
}

.modal .close-modal:hover {
  background-color: #333;
  color: white;
}

.modal .modal-navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal .modal-navigation-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal .video-input input {
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 100%;
}

.modal .video-input .span-text {
  font-size: 14px;
  color: #333;
}

.modal button {
  margin-top: 10px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  opacity: 0.8;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input {
  padding: 5px 10px;
}

@media screen and (max-width: 900px) {
  .modal {
    width: 90%;
    left: 40%;
  }
}

