body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* STYLE FOR DateAndOrder Feature */
.buttons {
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 3px 10px;
  border: none;
  border-radius: 40px;
  background-color: #d985af;
  color: #fff;
  cursor: pointer;
}

.css-1tz3xhx {
  height: auto !important;
}
